[package]
name = "efficient-sumcheck"
version = "0.0.2"
authors = ["arkworks maintainers"]
description = "TODO"
repository = "https://github.com/compsec-epfl/space-efficient-sumcheck"
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
edition = "2021"

[dependencies]
ark-ff = "0.5.0"
ark-poly = "0.5.0"
ark-serialize = "0.5.0"
ark-std ="0.5.0"
memmap2 = "0.9.5"
rayon = { version = "1.10", optional = true }

[dev-dependencies]
criterion = "0.8"

[features]
default = ["parallel"]
parallel = [
  "dep:rayon",
  "ark-ff/parallel",
  "ark-poly/parallel",
  "ark-std/parallel",
]

[[bench]]
name = "provers"
path = "benches/provers.rs"
harness = false
